@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
* {
	box-sizing: border-box;
	font-family: "Press Start 2P", sans-serif;
}
body {
	color: #eee;
	background-color: #222;
	position: relative;
}
.container {
	padding: 15px 10px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
button {
	width: 100px;
	height: 39px;
	cursor: pointer;
}
button:hover {
	background-color: #222;
	color: #eee;
	border: 1px solid #eee;
}

main {
	display: flex;
	justify-content: space-between;
	margin: 50px;
	padding: 90px;
	border: 5px solid #eee;
	position: relative;
}

.number {
	position: absolute;
	color: #222;
	background-color: #eee;
	width: 90px;
	height: 90px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 10px;
	top: -10%;
	left: 50%;
	transform: translateX(-50%);
}

.left input {
	display: block;
	margin: 30px 15px;
	width: 150px;
	height: 40px;
}

.right {
	margin: 50px 0px;
}
.about,
.rules {
	width: 400px;
	height: fit-content;
	border-radius: 20px;
	background-color: #eee;
	color: #222;
	padding: 30px;
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	line-height: 1.5;
}
.about h2,
.about p,
.rules h2,
.rules ol li {
	font-family: "Play", sans-serif;
}

i {
	position: absolute;
	top: 10px;
	font-size: 18px;
	right: 25px;
	cursor: pointer;
}
